// .blog-edit-title {
//   width: 100%;
// }

.blog-edit-ul {
  margin-bottom: 100px;
  li {
    margin: 10px auto;
    .form-group {
      padding-left: 0;
    }
  }
}

.blogedit-submit-btn {
  color: $fontawesome;
}
