.blog-main-content {
  background: #fff;
  width: 100%;
}
.blog-content-aside {
  button {
    background: #b98f50;
    color: #fff !important;
    margin: 10px auto;
  }
  .card {
    width: 80%;
    margin: 10px auto;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px 0px;
    .blog-author-avatar {
      width: 70%;
      border: none;
      margin: 10px auto;
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 10px auto;
      }
    }
  }
  .featured {
    width: 80%;
    margin: 10px auto;
  }
}
.related-posts {
  h3 {
    font-weight: 900;
  }
  ul {
    padding: 5px;
    li {
      padding: 10px;
      img {
        border-radius: 8px;
        width: 260px;
        height: 180px;
      }
      h5 {
        font-weight: 900;
      }
    }
  }
}

.blog-comment {
  .blog-comment-item {
    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
  }
}