.blog-add-title {
  width: 100%;
}
.blog-add-btn {
  button {
    margin: 0 2px;
    display: block;
    height: 50px;
    background: #b98f50;
    color: #fff !important;
  }
}
.blog-add-content {
  width: 100%;
  height: 50vh;
}
.blog-add-ul {
  li {
    margin: 10px auto;
    .form-group {
      padding-left: 0;
    }
  }
}
.ck-content {
  height: 500px;
}
