.aside-wrapper {
  padding: 0 15px !important;
  box-sizing: border-box;

  .aside-wrapper-filter-box {
    background-color: white;
    border-radius: 6px;
    padding: 5px 0;
    margin-bottom: 15px;
    width: 100%;
    text-align: unset;

    h3 {
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.5px;
      line-height: 27.2px;
      padding: 0px 20px;
      margin: 10px 0;
      color: #684b38;
    }

    .drop-title {
      padding: 10px 20px;
      cursor: pointer;
      h5 {
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 23.8px;
        font-weight: 400;
        margin: 5px 0;
      }
    }

    .checkbox-dropdown-list {
      display: none;
      list-style: none;
      height: 0;
      overflow: hidden;
      font-size: 14px;
      line-height: 21px;
      cursor: pointer;

      &.active {
        display: block;
        height: unset;
        margin-bottom: 15px;
      }

      .checkbox {
        padding: 10px 20px;
        margin: 5px 20px;

        & > .fa-square {
          transform: scale(1.1);
        }
        i {
          width: 20px;
        }
      }
    }
  }
}
