.product-time {
  margin-bottom: 20px;
  p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: unset;
  }
  @media screen and (max-width: 599px) {
    padding: 0 12px;
    margin-bottom: 14px;
  }
}
