.product-result-sort {
  padding: 15px 20px;
  margin-bottom: 20px;
  background-color: white;
  border-top: 1px solid #dfdfdd;
  border-radius: 0 0 3px 3px;
  vertical-align: middle;

  h4 {
    margin: 0;
    display: inline-block;
    font-weight: bolder;
    font-size: 18px;
  }
  .gap {
    margin: 0 5px;
  }
  a{
    text-decoration: none;
    color: #684b38;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
    .fa-star{
      color: #684b38;
      
    }
    &:hover {
      color: rgb(104, 142, 103);
      & .fa-star{
        color: rgb(104, 142, 103);
      }
    }
    
  }
  .active{
    color: rgb(104, 142, 103);
  }
}
