%h2Title {
  margin: 40px 0 24px 0;
  font-weight: 800;
  font-size: 32px;
}

.product-description {
  .product-description-title {
    @extend %h2Title;
  }

  .product-content {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: unset;
    line-height: 23.8px;
    margin-bottom: 24px;
    white-space: pre-wrap;
  }

  .product-images-area {
    .product-images {
      margin: 0 0 30px 0;
      width: 100%;
      img {
        height: 440px;
        object-fit: cover;
      }

      figcaption {
        margin: 3px 0;
        font-size: 14px;
        line-height: 18px;

        .triangle {
          display: inline-block;
          background: #684b38;
          width: 16px;
          height: 18px;
          margin: 0 8px;
          clip-path: polygon(50% 21%, 0% 100%, 100% 100%);
        }
      }
    }
  }
}
