.product-banner {
  width: 100%;
  height: 460px;
  background-position: center;
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 48px;
  display: inline-block;
  @media screen and (max-width: 599px) {
    height: 240px;
    margin: 18px 0px 18px 0px;
    padding: 0 12px;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-origin: content-box;
  }
}
