.product-result {
  padding: 15px 20px;
  background-color: white;
  border-radius: 3px 3px 0 0;

  h4 {
    margin: 0;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
  }

  .categoryItem {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 24px;
    background: rgba(104, 75, 56, 0.623);
    color: white;
    border-radius: 10px;
    text-align: center;
    margin: 0 20px;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      background: rgb(104, 75, 56);
    }
  }
}
