.myReplyBox {
  background: #ffffff;
  width: 100%;
}

.comment-bar{
  border-bottom: 1px solid #cecece;
  margin-bottom: 15px;
}

.reply-listview {
  border-bottom: 1px solid #cecece;
  padding: 10px 10px 20px 10px ;
}

.myReply {
  background: rgb(238, 237, 237);
  width: 100%;
  padding-left: 30px;
  margin-bottom: 18px;
}

.eventImgBox img {
  height: 200px;
  object-fit: cover;
  // padding-top: 8px;;
}

.commentImg{
  width:80px;
   height: 80px;
   border: 1px solid rgba(167, 165, 165, 0.726);
    // object-fit: full;
     overflow: hidden;
      margin: 5px; 
}
.commentImgPhoto{
  width:100%;
  height: 100%;  
}

.commentImgPlus{
  width:80px;
   height: 80px;
     margin: 5px; 
    text-align: center;
    line-height: 80px;
    background: rgba(241, 241, 241, 0.726);
    border: 1px solid rgba(167, 165, 165, 0.726);
    cursor: pointer;
}
.commentImgPlus:hover{
  background: rgba(167, 165, 165, 0.726);
}


.text{
  word-wrap:break-word; 
  word-break:normal;
}
//starRating

%visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.star-rating {

  &__star {
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    line-height: 1;
    font-size: 1.5em;
    color: #ABABAB;
    transition: color .2s ease-out;

    &:hover {
      cursor: pointer;
    }
    
    &.is-selected {
      color: #FFD700;
    }
    
    &.is-disabled:hover {
      cursor: default;
    }
  }

  &__checkbox {
    @extend %visually-hidden;
  }
}

.fa-star{
  color: rgb(255, 192, 20);
  
}

.comment-tbhead{
  background-color: rgba(104, 142, 103, 0.8);
    padding: 5px;
    border-radius: 4px 4px 0 0;
    color: white;
    margin-bottom: 15px;
}