.myReplyBox {
  background: #ffffff;
  width: 100%;
}

.myReply {
  background: rgb(238, 237, 237);
  width: 100%;
  padding-left: 30px;
  margin-top: 10px;
}

.eventImgBox img {
  height: 200px;
  object-fit: cover;
}
