@import './HS.scss';
@import './blogMasonry.scss';

//blog
.blog-list-card {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px 0px;
  img {
    border-radius: 5px 5px 0 0;
  }
  h3 {
    font-weight: bold;
  }
  p {
    font-weight: bold;
    margin-left: 5px;
  }
  .author-date {
    span {
      display: block;
    }
  }
}

//blogAdd
.blog-add-title {
  width: 100%;
}
.blog-add-btn {
  button {
    background: #b98f50;
    color: #fff !important;
  }
}
.blog-add-content {
  width: 100%;
  height: 50vh;
}
.blog-add-ul {
  li {
    margin-top: 10px;
    margin: 10px auto;
  }
}
.ck-content {
  height: 500px;
}

//blogContent
.blog-main-content {
  background: #fff;
  width: 100%;
}
.blog-content-aside {
  button {
    background: #b98f50;
    color: #fff !important;
    margin: 10px auto;
  }
  .card {
    width: 80%;
    margin: 10px auto;
    .blog-author-avatar {
      width: 70%;
      border: none;
      margin: 10px auto;
    }
    img {
      border-radius: 50%;
    }
  }
}

//userBlog
.userBlogTop {
  padding: 5px 20px;
}
.userblog-btn {
  margin-left: auto;
  margin-right: 20px;
  background: #b98f50;
  width: 106px;
}
.userblog-list-item {
  // margin-bottom: 5px;
  padding-left: 5px;
  h3,
  p {
    padding-left: 5px;
  }
}
