.couponalldata-container {
  width: 100%;
  margin-top: 5px;
  margin-left: 22px;
}
.couponalldata-form {
  width: 80%;
}

.couponalldata-label {
  width: 35%;
  font-size: 16px;
}

.couponalldata-form {
  margin: 0;
  flex-wrap: nowrap;
}

.couponalldata-select {
  margin-top: 2px;
}
