// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import '~react-tabs/style/react-tabs.scss';
// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

body {
  // font-family: 'Noto Sans TC', sans-serif;
  font-family:"微軟正黑體";
  color: #684b38; 
}
.none {
  display: none !important;
}
img {
  width: 100%;
}
//===================選單====================
nav {
  background-color: #688e67;
  color: #fff;
  font-size: 16px;
}
.navbar {
  height: 100px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 245px;
  // height: 70px;
  // background-image: url(../images/home/logo.png);
  // background-size: cover;
  // background-repeat: no-repeat;
  // display: block;
}
.menu,
.shop-group,
.sign,
.member {
  list-style: none;
  display: flex;
  margin: 0;
}
.menu li,
.shop-group li,
.sign li,
.member li {
  padding: 0 12px;
}
.menu a,
.shop-group a,
.sign a,
.member a {
  color: white;
  text-decoration: none;
}
.menu a:hover,
.shop-group a:hover,
.sign a:hover {
  color: rgba($color: #fff, $alpha: 0.5);
}
.shop-group {
  display: flex;
  margin: 0;
}

.burger {
  font-size: 15px;
  border: 2px solid #fff;
  padding: 2px 6px;
  border-radius: 3px;
  cursor: pointer;
}

.memberbtn {
  padding: 5px 10px !important;
  border-radius: 3px;
  border: 1.5px solid #fff;
}
.memberbtn:hover {
  background-color: rgba($color: #ffffff, $alpha: 0.3);
}

//===================選單====================

.footer {
  background-color: #f5f5f5;
}

.container {
  max-width: 1180px;
}

.pageButton {
  width: 50px;
  height: 50px;
  font-size: 20px;
  background: #f5f5f5;
  text-align: center;
  line-height: 50px;
  margin: 10px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  padding-right: 0px;
  padding-left: 0px;
}
