// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import '~react-tabs/style/react-tabs.scss';
// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

body {
  // font-family: 'Noto Sans TC', sans-serif;
  // font-family: '微軟正黑體';
  font-family: 'Open Sans', 'Heiti TC', 'LiHei Pro', 'Helvetica Neue', Helvetica,
    Arial, '微軟正黑體', '微软雅黑', メイリオ, '맑은 고딕', sans-serif;
  color: #54595f;
}
.none {
  display: none !important;
}
img {
  width: 100%;
}
//===================選單====================
nav {
  background-color: #688e67;
  color: #fff;
  font-size: 16px;
}
.navbar {
  height: 100px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 245px;
  // height: 70px;
  // background-image: url(../images/home/logo.png);
  // background-size: cover;
  // background-repeat: no-repeat;
  // display: block;
}
.menu,
.shop-group,
.sign,
.member {
  list-style: none;
  display: flex;
  margin: 0;
}
.menu li,
.shop-group li,
.sign li,
.member li {
  padding: 0 12px;
}
.menu a,
.shop-group a,
.sign a,
.member a {
  color: white;
  text-decoration: none;
}
.menu a:hover,
.shop-group a:hover,
.sign a:hover {
  color: rgba($color: #fff, $alpha: 0.5);
}
.shop-group {
  display: flex;
  margin: 0;
  font-size: 20px;
}

.burger {
  font-size: 15px;
  border: 2px solid #fff;
  padding: 2px 6px;
  border-radius: 3px;
  cursor: pointer;
}

.memberbtn {
  padding: 5px 10px !important;
  border-radius: 3px;
  border: 1.5px solid #fff;
}
.memberbtn:hover {
  background-color: rgba($color: #ffffff, $alpha: 0.3);
}

//===================選單====================

.footer {
  background-color: #f5f5f5;
}

.container {
  max-width: 1180px;
}

.pageButton {
  width: 50px;
  height: 50px;
  font-size: 20px;
  background: #f5f5f5;
  text-align: center;
  line-height: 50px;
  margin: 10px;
}
