// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import '~react-tabs/style/react-tabs.scss';
// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

body {
  // font-family: 'Noto Sans TC', sans-serif;
  // font-family: '微軟正黑體';
  font-family: 'Open Sans', 'Heiti TC', 'LiHei Pro', 'Helvetica Neue', Helvetica,
    Arial, '微軟正黑體', '微软雅黑', メイリオ, '맑은 고딕', sans-serif;
  color: #54595f;
}
.none {
  display: none !important;
}
img {
  width: 100%;
}
.container {
  max-width: 1180px;
}
@media screen and (max-width: 599px) {
  .container {
    max-width: 100%;
    padding: 0;
  }
}
//===================選單====================
nav {
  background-color: #688e67;
  color: #fff;
  font-size: 16px;
  // position: fixed;
  // top: 0;
  // z-index: 99;
  // width: 100%;
  .navbar {
    height: 100px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 245px;
    }
    .burger {
      font-size: 20px;
      border: 2px solid #fff;
      padding: 2px 7px;
      border-radius: 3px;
      cursor: pointer;
      display: none;
    }
    .shop-group {
      display: flex;
      margin: 0;
      font-size: 20px;
      .navbar-cart {
        position: relative;

        .car-img {
          cursor: pointer;
          // color: rgb(211, 205, 205);
          color: rgb(255, 255, 255);
          &:hover {
            // color: white;
          }
        }

        .cart-dot {
          position: absolute;
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          color: white;
          top: -2px;
          right: -8px;
          font-size: 12px;
          text-align: center;
        }
        .card {
          position: absolute;
          width: 350px;
          right: -50%;
          z-index: 99;
          &::before {
            content: '';
            position: absolute;
            right: 2px;
            top: -20px;
            border-top: 5px solid transparent;
            border-right: 15px solid transparent;
            border-left: 15px solid transparent;
            border-bottom: 25px solid white;
            display: inline-block;
          }
          .card-body {
            max-height: 300px;
            overflow: auto;
            z-index: 99;
            padding: 10px 20px;
            .card-item {
              align-items: center;
              padding: 10px 0;
              border-bottom: 1px solid rgb(221, 220, 220);
              .productimgbox {
                width: 100px;
                height: 80px;

                img {
                  object-fit: cover;
                  width: 100%;
                  height: 100%;
                  &:hover {
                    opacity: 0.8;
                  }
                }
              }
              .mycart-textbox {
                width: 200px;
                .item-name {
                  margin-bottom: 5px;
                  p {
                    color: black;
                    font-size: 14px;
                    font-weight: bolder;
                    line-height: 15px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; //行數
                    -webkit-box-orient: vertical;
                    white-space: normal;
                    overflow: hidden;
                    &:hover {
                      opacity: 0.8;
                    }
                  }
                }

                .item-date {
                  display: flex;
                  justify-content: space-between;
                  span {
                    color: black;
                    font-size: 12px;
                  }
                  button {
                    border: none;
                    background-color: white;
                    font-size: 14px;
                    outline: none;
                  }
                }
                .item-price {
                  display: flex;
                  justify-content: space-between;
                  span {
                    color: black;
                    font-size: 12px;
                  }
                }
              }
            }
          }
          .card-footer {
            background-color: white;
            .link {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 599px) {
  nav {
    .navbar {
      .logo {
        width: 160px;
        margin: 10px;
      }
      .burger {
        display: block;
        position: absolute;
        right: 5%;
      }
    }
  }
}

.menu,
.shop-group,
.sign,
.member {
  list-style: none;
  display: flex;
  margin: 0;
}
@media screen and (max-width: 599px) {
  .menu {
    display: block;
    z-index: 99;
    width: 0;
    background-color: #688e67;
    position: absolute;
    top: 259px;
    text-align: center;
    height: 280px;
    overflow: hidden;
    transition: 0.2s;
    position: absolute;
    right: 0;

    li {
      padding: 15px 0px !important;
    }
  }
  .shop-group {
    position: absolute;
    left: 55%;
  }
  .member {
    display: block;
    background-color: #688e67;
    width: 0;
    z-index: 99;
    position: absolute;
    top: 99px;
    text-align: center;
    overflow: hidden;
    transition: 0.2s;
    position: absolute;
    right: 0;
    li {
      padding: 0px 0px !important;
      a {
        padding: 10px 0px !important;
      }
    }
  }
  .sign {
    background-color: #688e67;
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 99;
    width: 0;
    transition: 0.3s;
    li {
      margin: auto;
      a {
        font-size: 35px;
        line-height: 160px;
        text-align: center;
        width: 100%;
        display: block;
      }
    }
  }
  @media screen and (max-width: 599px) {
    .sign {
      overflow: hidden;
    }
  }
}
.menu li,
.shop-group li,
.sign li,
.member li {
  padding: 0 12px;
}
.menu a,
.sign a,
.member a {
  color: white;
  text-decoration: none;
}
.shop-group a {
  // color: rgb(211, 205, 205);
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

.menu a:hover,
.sign a:hover {
  // position: relative;
  // top: -5px;
  // border-bottom: 1.5px solid #fff;
  // padding-bottom: 5px;
  // transition: 0.3s;
}
.shop-group a:hover {
  // color: rgb(255, 255, 255);
  // color: #fc77dd;
}
.hvr-underline-from-center {
  &::before {
    background: #fff;
  }
}
.memberbtn {
  padding: 5px 10px !important;
  border-radius: 3px;
  border: 1.5px solid #fff;
  &:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.3);
  }
}
.memberbtnPhone {
  @extend .memberbtn;
  display: none;
}
.membercenterPhone {
  list-style: none;
  display: none;
  overflow: hidden;
  a {
    display: block;
  }
}
@media screen and (max-width: 599px) {
  .memberbtn {
    display: none;
  }
  .memberbtnPhone {
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 15px;
  }
  .logout {
    display: block;
    margin: auto;
    width: 18%;
    height: 40px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .membercenterPhone {
    padding: 10px;
    display: block;
    height: 0;
    background-color: #688e67;
    transition: 0.3s;
    li {
      padding: 6px 0;
    }
  }
}

.form-group {
  margin: 1.5rem 0;
}
//===================註冊登入視窗===================
.login {
  .modal-lg {
    width: 650px;
  }
  .modal-content {
    background-color: rgba($color: #ffffff, $alpha: 0);
    border: 0;
    .modal-body {
      padding: 1.5rem;
    }
  }
}
.form-control::placeholder {
  font-size: 15px !important;
}
.login-bg {
  background-color: #e6ded8;
  margin: auto;
  border: 8px solid #b98f50;
  border-radius: 5px;
  position: relative;
  width: 650px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .closeMassage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #707070;
    position: absolute;
    right: -25px;
    top: -25px;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    line-height: 35px;
    color: #707070;
  }
  .functionChang {
    width: 100%;
    border-bottom: 1px solid #707070;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 15px;
    margin-bottom: 15px;
    .changbtn {
      width: 140px;
      height: 40px;
      line-height: 30px;
      background-color: rgba(113, 113, 113, 0.8);
      color: white;
      margin-right: 15px;
      &:hover {
        background-color: rgb(85, 85, 85);
      }
      &.active {
        background-color: rgba(104, 142, 103, 0.8);
      }
    }
  }

  .membersign {
    width: 48%;
    .membersign-title {
      color: #707070;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }

  .communitylogin {
    @extend .membersign;
    width: 48%;
    .communitylogin-title {
      @extend .membersign-title;
      text-align: center;
    }
    .communityicon {
      width: 170px;
      margin: auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .c-icon {
        width: 60px;
        margin: 10px 0;
        cursor: pointer;
        .icon-name {
          font-size: 12px;
          color: #707070;
          text-align: center;
          margin-top: 5px;
        }
      }
    }
  }
  .logincheck {
    width: 100%;
    text-align: center;

    span {
      color: #688e67;
      cursor: pointer;
      font-weight: 600;
      text-decoration: underline;
    }
  }
  .forgetpwd {
    @extend .logincheck;
    text-decoration: underline;
    color: #688e67;
    a {
      cursor: pointer;
    }
  }
  .signbtn,
  .loginbtn {
    cursor: pointer;
    width: 260px;
    height: 55px;
    background-color: #6e845c;
    margin: auto;
    display: block;
    text-align: center;
    line-height: 55px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 5px rgba($color: #000000, $alpha: 0.3);
    &:hover {
      background-color: #879e74;
    }
    &:active {
      background-color: #586b49;
    }
  }
}

//================註冊&登入&登出ok視窗===============

.SignOk {
  @extend .login;
}
.SignOk-bg {
  @extend .login-bg;
  width: 355px;
  text-align: center;
  .SignOk-title {
    width: 100%;
    color: #707070;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .SignOk-text {
    font-size: 16px;
    width: 100%;
  }
  .SignOkbtn {
    @extend .signbtn;
    margin-bottom: 0;
  }
}

//===============忘記密碼視窗===================

.forgetpwdgroup {
  width: 100%;
}
.forgetpwdtext {
  font-size: 16px;
  color: red;
}
//===================footer====================

.footer {
  background-color: #684b38;
  .footer-top {
    background-color: rgba($color: white, $alpha: 0.1);
    padding: 20px;
    .footer-link {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .link-group {
        width: 33%;
        text-align: center;
        letter-spacing: 5px;
        font-weight: 600;
        .link-title {
          color: white;
          font-size: 20px;
        }
        .link-content {
          margin-top: 10px;
          font-size: 14px;
          ul {
            list-style: none;
            li {
              margin: 10px 0;
              color: rgba($color: #fff, $alpha: 0.4);
              &:hover {
                color: #ffffff;
                cursor: pointer;
              }
            }
          }
        }
      }

      @media screen and (max-width: 599px) {
        .link-group {
          width: 100%;
          .link-title {
            font-size: 18px;
            margin: 10px;
          }
          .link-content {
            display: none;
          }
        }
      }
    }
  }

  .footer-bottom {
    padding-top: 20px;
    .footer-icon {
      width: 320px;
      margin: auto;
    }
    .copyright {
      font-weight: 600;
      text-align: center;
      color: rgba($color: #fff, $alpha: 0.4);
      margin-top: 10px;
    }
    @media screen and (max-width: 599px) {
      .copyright {
        font-size: 13px;
      }
    }
  }
}

.pageButton {
  width: 50px;
  height: 50px;
  font-size: 20px;
  background: #f5f5f5;
  text-align: center;
  line-height: 50px;
  margin: 10px;
}

.star1 {
  color: rgb(248, 198, 61);
  font-size: 20px;
}

.star2 {
  color: rgb(175, 175, 175);
  font-size: 20px;
}
