p,
a,
ul,
li,
h1,
h2 {
  margin: 0;
  padding: 0;
}
p {
  color: #707070;
  font-size: 15px;
  line-height: 30px;
}
.banner {
  height: 800px;
  // background-image: url(../images/home/home-banner.jpg);
  // background-size: cover;
  // background-position: center center;
  position: relative;
}
.video {
  position: absolute;
  width: 100%;
  height: 100%;
}
.banner-title {
  width: 375px;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
}
select,
.btn,
input,
#location-search {
  border-radius: 5px;
  border: 0;
}
.searchbar {
  width: 900px;
  height: 130px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
}
.btnList {
  width: 360px;
  display: flex;
  justify-content: space-between;
}
.btnList .btn {
  width: 110px;
  height: 40px;
  background-color: rgba(113, 113, 113, 0.8);
  color: white;
}
.btnList .btn:hover {
  background-color: rgb(85, 85, 85);
}
.btnList .active {
  background-color: rgba(104, 142, 103, 0.8);
}
.btnList .active:hover {
  background-color: rgba(104, 142, 103, 0.8);
}
.search-bar {
  background-color: rgba(113, 113, 113, 0.8);
  width: 890px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
}

select {
  border-radius: 5px;
  height: 40px;
  width: 120px;
  padding: 0 0 0 25px;
}
#location-bar {
  height: 40px;
  width: 345px;
}
#activename-bar {
  height: 40px;
  width: 490px;
}
.search-btn {
  width: 90px;
  height: 40px;
  color: white;
}
.search-btn:hover {
  background-color: #9c7843;
  color: white;
}
.location-search-btn {
  width: 125px;
  height: 40px;
  color: white;
}
.btn-danger {
  background-color: #ff3400;
}
.btn-warning {
  background-color: #b98f50;
  border: 0;
}
.fonticon {
  font-size: 25px;
  margin-right: 5px;
  color: white;
}
#time1,
#time2 {
  width: 275px;
  height: 40px;
}
.time-title {
  color: white;
}

.about {
  height: 600px;
  background-color: #e6ded8;
}

.title {
  margin-top: 90px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.title .line {
  display: inline-block;
  width: 35%;
  border-top: 1px solid #684b38;
}
.title .txt {
  vertical-align: -14%;
  display: inline-block;
  width: 180px;
  font-size: 24px;
  font-weight: 600;
  color: #684b38;
}
.about-main {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.about-main-cont {
  width: 20%;
  background-color: cadetblue;
  text-align: center;
}
.about-icon {
  width: 115px;
  height: 115px;
  background-color: chartreuse;
  margin: auto;
}
