//主要背景色
$hipsterbackground: #132948;
// 強調色
$hipstercolordanger: rgba(104, 142, 103, 0.8);
//以下輔色，按深淺排列
$hipstercolorone: #31445f;
$hipstercolortwo: #4e5f76;
$hipstercolorthree: #c4cad1;
$hipstercolorfour: #e2e4e8;
//我的顏色
$fontawesome: #009688;
$black: #000000;
$white: #ffffff;

// Others----------------------------------------

#membername {
  color: #b98f50;
  text-align: center;
}

.otherlogin {
  color: $black;
}
.servicelink {
  color: $hipstercolordanger;
}

.entirepage-hs {
  // background-image: url('../image/ClassBanner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.entirepagetwo-hs {
  // background-image: url('../image/L0020-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 140px;
}

//Sidebar----------------------------------------
.svg-inline--fa.fa-w-20,
.svg-inline--fa.fa-w-18,
.svg-inline--fa.fa-w-14,
.svg-inline--fa.fa-w-16,
.svg-inline--fa.fa-w-12 {
  width: 20px;
  margin-right: 3px;
}

@media only screen and (min-width: 768px) {
  .pl-md-5,
  .px-md-5 {
    padding-left: 28% !important;
  }
}

.nav.flex-column {
  background: #fff;
  border-radius: 2px;
}

@media only screen and (max-width: 768px) {
  .nav.flex-column {
    display: none;
  }
}

.avatar {
  width: 157px;
  height: 157px;
  object-fit: cover;
  border: 1.5px solid rgb(216, 214, 214);
}
.sidebarlink-hs {
  color: #684b38;
}
.sidebarlink-hs:hover {
  color: $hipstercolordanger;
}

.membername {
  height: 45px;
}

.sidebarright {
  width: 73%;
}
@media only screen and (max-width: 768px) {
  .sidebarright {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .container.mt-md-3 {
    padding: 0;
  }
}

.sidebar-underline {
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.sidebar-underline:after {
  display: block;
  content: '';
  border-bottom: solid 3px $hipstercolordanger;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%;
}
.sidebar-underline:hover:after {
  transform: scaleX(1);
  transform-origin: 0 50%;
}
