//Map
.leaflet-container {
  width: 100%;
  height: 100vh;
}

//EventSearchBar
.container-1 {
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search {
  width: 100%;
  height: 50px;
  background: #ffffff;
  border: none;
  font-size: 13pt;
  float: left;
  color: #63717f;
  padding-left: 60px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 .fonticon {
  position: absolute;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: rgba(104, 142, 103, 0.8);
}

.container-1 input#search:focus,
.container-1 input#search:active {
  outline: none;
  background: #ffffff;
}

.select-1 {
  border-radius: 20px;
}

.mapSearch {
  // background:#ffffff;
  border: 1px solid rgba(104, 142, 103, 0.8);
  border-radius: 20px;
  width: 80px;
  padding: 0;
  margin-right: 10px;
  text-align: center;
  color: rgba(104, 142, 103, 0.8);
}
.btn-success {
  background-color: transparent;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: rgba(104, 142, 103, 0.8);
  border-color: rgba(104, 142, 103, 0.8);
}
.dropdown-toggle::after {
  display: none;
}
//EventMapDataList
.dataBox {
  padding-top: 5px;
  background: rgb(222, 223, 221);
  height: 750px;
}

.eventContentBox {
  background: #ffffff;
  margin-bottom: 5px;
  width: 100%;
  height: 200px;
}
.eventImgBox {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.mapCategory {
  background: rgba(104, 142, 103, 0.8);
  border-radius: 20px;
  width: 100px;
  text-align: center;
  color: #ffffff;
}
.eventDetailBox li {
  margin-top: 5px;
}

.bgGreen {
  background: rgba(104, 142, 103, 0.8);
}
.bgRed {
  background: #c54424;
}

.input-group,
.input-group input {
  height: 50px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  padding-right: 0px;
  padding-left: 0px;
}
