//Map
.leaflet-container {
  width: 100%;
  height: 100vh;
}

//EventSearchBar
.container-1 {
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search {
  width: 100%;
  height: 50px;
  background: #ffffff;
  border: none;
  font-size: 13pt;
  float: left;
  color: #63717f;
  padding-left: 60px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 .fonticon {
  position: absolute;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: rgba(104, 142, 103, 0.8);
}

.container-1 input#search:focus,
.container-1 input#search:active {
  outline: none;
  background: #ffffff;
}

.select-1 {
  background: rgba(104, 142, 103, 0.8);
}

.btn3 {
  border-bottom: 1px solid #e9ecef;
  padding: 5px;
  text-align: center;
}

.mapSearch {
  // background:#ffffff;
  border: 1px solid rgba(104, 142, 103, 0.8);
  border-radius: 20px;
  width: 100px;
  height: 30px;
  padding: 0;
  margin-right: 10px;
  text-align: center;
  color: rgba(104, 142, 103, 0.8);
  font-weight: bold;
}
.btn-large {
  background-color: transparent;
}
.btn-small {
  background-color: white;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: rgba(104, 142, 103, 0.8);
  border-color: rgba(104, 142, 103, 0.8);
}




.dropdown-toggle::after {
  display: none;
}
//EventMapDataList
.dataBox {
  padding-top: 5px;
  background: rgb(222, 223, 221);
  height: 720px;
}

.eventContentBox {
  background: #ffffff;
  margin-bottom: 5px;
  width: 100%;
  height: 200px;
}
.eventContentBox :hover {
  background: #f1f1f1a9;
}

.eventImgBox {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.mapCategoryCafe {
  background: rgba(129, 111, 71, 0.918);
  border-radius: 20px;
  height: 25px;
  width: 100px;
  text-align: center;
  color: #ffffff;
}
.bg1{
  background: rgba(129, 111, 71, 0.918);
  border: 1px solid rgba(129, 111, 71, 0.918);
  color: white;
}
.mapCategoryItem {
  background: rgba(107, 136, 93, 0.918);
  border-radius: 20px;
  height: 25px;
  width: 100px;
  text-align: center;
  color: #ffffff;
}
.bg2{
  background: rgba(107, 136, 93, 0.918);
  border: 1px solid rgba(107, 136, 93, 0.918);
  color: white;
}
.mapCategoryItem2 {
  background: rgba(156, 150, 138, 0.918);
  border-radius: 20px;
  height: 25px;
  width: 100px;
  text-align: center;
  color: #ffffff;
}
.bg3{
  background: rgba(156, 150, 138, 0.918);
  border: 1px solid rgba(156, 150, 138, 0.918);
  color: white;
}
.eventDetailBox li {
  margin-top: 5px;
}

.bgGreen {
  background: rgba(104, 142, 103, 0.8);
}
.bgRed {
  background: #c54424;
}

.input-group,
.input-group input {
  height: 50px;
}

.dropdown .dropdown-menu {
  padding: 0;
  top: 10px !important;
}

.form-check-input {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
label {
  margin-bottom: 0;
}
MyCalendar .dropdown-menu.show {
  width: 350px;
  padding: 0 10px 10px 10px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  padding-right: 0px;
  padding-left: 0px;
}

//calender
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: '微軟正黑體';
  font-weight: bold;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  // padding:15px;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  color: white;
  background: rgba(104, 142, 103, 0.8);
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #c95555;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: rgba(104, 142, 103, 0.8);
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: rgba(171, 221, 169, 0.8);
}
.react-calendar__tile--hasActive {
  background: #b1b2b3;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #b1b2b3;
}
.react-calendar__tile--active {
  background: #b1b2b3;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #b1b2b3;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

//scroll

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(133, 121, 91, 0.877);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(165, 163, 163);
  border-radius: 2px;
}

//Map popup

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  width:500px;
  height: 500px;
  background: white;
  color: #333;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

// .mylocation .leaflet-popup-content-wrapper,
// .mylocation .leaflet-popup-tip{
//   width:100px;
//   height: 100px;
//   background: white;
//   color: #333;
//   box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
// }

.locationCard {
  width: 100%;
  height: 500px;
}

.locationCard h5 {
  font-family: '微軟正黑體';
  font-weight: bold;
}

.locationCard ul li {
  margin-top: 10px;
}

.cardList {
  width: 100%;
}
.cardImg {
  width: '460px';
  height: '200px';
  object-fit: 'cover';
  overflow: 'hidden';
  margin-top: '10px';
}

.cardList span {
  font-family: '微軟正黑體';
  font-size: 16px;
}
.cardButton {
  font-family: '微軟正黑體';
  margin: 20px;
  height: 35px;
  // padding-bottom: 15px;
  width: 400px;
  background: rgba(90, 112, 75, 0.918);
  color: white;
  // line-height: 30px;
  font-size: 15px;
  border: 5px;
  border-radius: 10px;
  text-align: center; 
}
.cardButton:hover{
  background:  rgba(161, 161, 161, 0.911);
}
.cardButton a{
  color: white;
  display: block;
  line-height: 30px;
  text-decoration:none;
}

.mylocationBtn:hover {
  background: rgba(206, 205, 205, 0.911);
}
