.usercontainer {
  padding: 20px 30px 0px;
  .usertitle {
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
  }
  .orderlistbox {
    .order-box {
      width: 100%;
      border: 1px solid gray;
      background-color: white;
      margin: 20px 10px;
      .order-title {
        display: flex;
        flex-wrap: wrap;
        font-size: bold;
        padding: 5px 20px;
        background-color: #879e87;
        .orderid {
          width: 33%;
          margin-bottom: 10px;
          h6 {
            color: white;
            font-weight: lighter;
            font-size: 16px;
            margin: 0;
          }
        }
        .ordertime {
          width: 33%;
          text-align: left;
          h6 {
            color: white;
            font-size: 16px;
            margin: 0;
          }
        }
        .orderstatus {
          width: 33%;
          h6 {
            margin: 0;
            text-align: right;
            color: white;
          }
        }
        .ordertotal {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          h6 {
            color: white;
            font-size: 16px;
            margin: 0;
          }
          .order-detail {
            border: none;
            background-color: transparent;
            color: white;
            outline: none;
            &:hover {
              text-shadow: 0px 0px 1px black;
            }
          }
        }
      }
      .order-body {
        padding: 0;
        position: relative;
        max-height: 145px;
        overflow: hidden;
        transition: 0.5s;
        .product-box {
          align-items: center;
          padding: 10px;
          .productimg {
            width: 160px;
            height: 123px;
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
          .oderproductinfo {
            width: 350px;
            .productname {
              p {
                font-size: 16px;
                color: black;
                font-weight: bold;
                letter-spacing: 1px;
                line-height: 25px;
              }
            }
            .productamount {
              p {
                line-height: 25px;
              }
            }
            .productprice {
              p {
                line-height: 25px;
              }
            }
            .productdate {
              p {
                line-height: 25px;
              }
            }
          }
          .oderbutton {
            width: 200px;
            text-align: right;
            button {
              outline: none;
              color: white;
              background-color: #8d6c56;
              border: none;
              border-radius: 5px;
              padding: 5px 10px;
              &:hover {
                background-color: #664f40;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .usercontainer {
    .usertitle {
    }
    .orderlistbox {
      .order-box {
        width: 300px;
        .order-title {
          .orderid {
            width: 70%;
            order: 1;
            margin-bottom: 0;
            h6 {
              font-size: 14px;
            }
          }
          .ordertime {
            width: 100%;
            order: 3;
            h6 {
              font-size: 14px;
            }
          }
          .orderstatus {
            width: 30%;
            order: 2;
            h6 {
              font-size: 14px;
            }
          }
          .ordertotal {
            width: 100%;
            order: 4;
            h6 {
              font-size: 14px;
            }
            .order-detail {
              font-size: 14px;
              padding: 0;
            }
          }
        }
        .order-body {
          .product-box {
            flex-wrap: wrap;
            align-items: center;
            .productimg {
              width: 80px;
              height: 80px;
              img {
              }
            }
            .oderproductinfo {
              width: 65%;
              .productname {
                p {
                  line-height: normal;
                  font-size: 12px;
                }
              }
              .productamount {
                p {
                  line-height: normal;
                  letter-spacing: normal;
                }
              }
              .productprice {
                p {
                  line-height: normal;
                  letter-spacing: normal;
                }
              }
              .productdate {
                p {
                  line-height: normal;
                  letter-spacing: normal;
                }
              }
            }
            .oderbutton {
              text-align: left;
              button {
              }
            }
          }
        }
      }
    }
  }
}

//分頁
.orderpage {
  list-style: none;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  & li {
    margin: 0 5px;
    display: inline-block;
    color: #684b38;
    text-decoration: none;
    padding: 4px 10px;
    background: white;
    border: 1px solid #707070;
    cursor: pointer;
    &.active {
      background: #684b38;
      color: white;
    }
    &.disabled {
      cursor: default;
      pointer-events: none;
      filter: opacity(0.4);
    }
  }
}

@media screen and (max-width: 576px) {
  .orderpage {
    & li {
      &.orderNextPage {
        display: none;
      }
      &.orderBacktPage {
        display: none;
      }

      &.active {
      }
      &.disabled {
      }
    }
  }
}
//展開的按鈕
.unfold {
  color: #684b38;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  outline: none;
}
//詳細資訊視窗
.modal-body {
  background-color: #e6ded8;
  border: 8px solid #b98f50;
  border-radius: 5px;
  .orderdetailbox {
    .ordercontact {
      margin-bottom: 5px;
      h6 {
        color: black;
        font-size: 18px;
        font-weight: bold;
      }
      p {
        color: black;
      }
    }
    .orderpayinfo {
      h6 {
        color: black;
        font-size: 18px;
        font-weight: bold;
      }
      .detail-paytype {
        display: flex;
        p {
          color: black;
        }
      }
      .detail-subtotal {
        display: flex;
        justify-content: space-between;
        width: 60%;
        p {
          color: black;
        }
      }
      .detail-coupon {
        display: flex;
        justify-content: space-between;
        width: 60%;
        border-bottom: 1px solid rgb(199, 198, 198);
        p {
          color: black;
        }
      }
      .detail-total {
        display: flex;
        justify-content: space-between;
        width: 60%;
        p {
          color: black;
        }
        span {
          font-size: 20px;
          font-weight: bold;
          color: #ff3400;
        }
      }
    }
  }
}
//憑證視窗
.prooftitle {
  h6 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
}
.proofqrcode {
  text-align: center;
}
.proofinfo {
  text-align: center;
  p {
    margin: 10px;
    font-size: 16px;
    color: black;
  }
}
