.usercontainer {
  padding: 20px 30px 0px;
  .orderlistbox {
    .usertitle {
      font-weight: bold;
      font-size: 24px;
      margin-top: 20px;
    }
  }
}

.empty {
  margin: 100px;
  .emptyImg {
    width: 200px;
    height: 150px;
  }
}
