.totalPriceBox {
width: 100%;
height: 300px;
background: white;
}

.buttonBox{
  width: 100%;
  height: 160px;
  background: white;
  text-align: center;
}

.buttonBox button{
  margin-top: 20px;
  color: white;
 width: 80%;
 height:50px;
 background: #688e67;
}
.prograssBar1 {
  width: 100%;
  height: 100px;
  overflow: hidden;
  background: url(..\images\progressbar1.png) no-repeat center;
  background-size: contain;
  background-color: white;
}

.prograssBar2 {
  width: 100%;
  height: 100px;
  overflow: hidden;
  background: url(..\images\progressbar2.png) no-repeat center;
  background-size: contain;
  background-color: white;
}

.prograssBar3 {
  width: 100%;
  height: 100px;
  overflow: hidden;
  background: url(..\images\progressbar3.png) no-repeat center;
  background-size: contain;
  background-color: white;
}

.contentBox {
  width: 100%;
  height: 800px;
  background: white;
}
