%h2Title {
  margin: 40px 0 24px 0;
  font-weight: 800;
}

.bg-white {
  background-color: white;
}
.text-brown {
  color: #684b38;
}

.nav-breadcrumb {
  background-color: white;

  .breadcrumb {
    padding: 24px 0;
    background: white;
    margin: 0;
  }
}

.product-main-left {
  width: 790px;

  .product-title {
    margin: 0 0 24px 0;
    font-weight: 800;
  }
}
