.aside-wrapper {
  background-color: white;
  width: 262.5px;

  ul {
    list-style: none;
  }

  .aside-wrapper-title {
    width: 100%;
    padding: 10px 20px;

    .drop-title {
      padding: 10px 20px;
    }
  }
}
