.product-content {
  margin-top: 25px;
  color: #684b38;

  .product-list {
    padding: 0 15px !important;

    .product-list-search-info {
      position: relative;
      height: 255px;
      background: white;
      margin-bottom: 15px;
      border-radius: 6px;
      a {
        text-decoration: none;
        color: #684b38;
      }
      .row {
        height: 100%;
      }
      .px-15 {
        padding: 0 15px 0 15px;
        box-sizing: border-box;
      }
      .product-detail {
        padding: 0 15px 10px 0;
        position: relative;
        min-height: 240px;

        .product-label {
          margin-top: 15px;
        }

        h3 {
          text-align: justify;
          margin: 10px 0 8px 0;
          padding-right: 30px;
          font-size: 18px;
          font-weight: 1000;
          letter-spacing: 0.5px;
          line-height: 27.2px;
        }

        .product-description {
          margin-bottom: 10px;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.6;
          max-height: 43px;
          text-align: justify;
          display: -webkit-box;
          overflow: hidden;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }

        .product-place {
          margin-bottom: 4px;
          font-size: 14px;
        }

        .product-time {
          margin-bottom: 4px;
          font-size: 14px;
        }

        .product-footer {
          position: absolute;
          width: 100%;
          bottom: 10px;
          display: flex;
          align-items: center;

          .product-star {
            display: inline-block;
          }

          .divider {
            display: inline-block;
            width: 1px;
            height: 16px;
            margin: 0 10px;
            background: #dfdfdd;
          }

          .product-booked-number {
            font-size: 14px;
            height: 20px;
          }

          .product-price {
            position: absolute;
            display: inline-block;
            right: 15px;
            h4 {
              display: inline-block;
              color: #ff3400;
            }
          }
        }
      }
    }
  }
}
