body {
  background-color: #dedfdd;
}

//購物車標題
.cart-title {
  background-color: white;
  display: flex;
  padding: 12px;
  justify-content: space-between;
  .productname {
    width: 40%;
    display: flex;
    margin-right: 20px;
    align-items: center;
  }
  .productright {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }
}

//購物車商品
.productbox {
  background-color: white;
  display: flex;
  margin-top: 20px;
  padding: 12px;
  align-items: center;
  justify-content: space-between;
  .productname {
    width: 40%;
    display: flex;
    margin-right: 20px;
    align-items: center;
    .delete {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    .productImg {
      width: 90px;
      height: 90px;
      margin-right: 10px;
    }
    p {
    }
  }
  .productright {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }
  .add {
    font-size: 25px;
    border: 1px solid gray;
    border-left: none;
    height: 30px;
    margin-bottom: 3px;
  }
  .Subtract {
    font-size: 25px;
    border: 1px solid gray;
    border-right: none;
    height: 30px;
    margin-bottom: 3px;
  }
  .amount {
    width: 50px;
    text-align: center;
    outline: none;
  }
}

//購物車總額
.totalbox {
  .button {
    color: white;
    width: 100px;
    height: 50px;
    background: #688e67;
    border: none;
  }
  .total {
    font-size: 20px;
    span {
      font-size: 24px;
      font-weight: bold;
    }
  }
}

.empty {
  margin: 100px;
  .emptyImg {
    width: 200px;
    height: 150px;
  }
}
