body {
  background-color: #dedfdd;
}

//購物車標題
.cart-title {
  background-color: white;
  font-size: 25px;
  display: flex;
  padding: 12px;
  justify-content: space-between;
  .productname {
    width: 40%;
    display: flex;
    margin-right: 20px;
    align-items: center;
  }
  .productright {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }
}

//購物車商品
.cartproductbox {
  background-color: white;
  display: flex;
  margin-top: 20px;
  padding: 12px;
  align-items: center;
  justify-content: space-between;
  .productname {
    width: 40%;
    display: flex;
    margin-right: 20px;
    align-items: center;
    .delete {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    .productImg {
      width: 90px;
      height: 90px;
      margin-right: 10px;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  .productright {
    width: 40%;
    display: flex;
    justify-content: space-between;
    .productdate {
      p {
        font-size: 16px;
        color: black;
        letter-spacing: normal;
      }
    }
    .productsubtotal {
      width: 100px;
      text-align: right;
      p {
        font-size: 16px;
        color: black;
        letter-spacing: normal;
      }
    }
  }
  .amountbox {
    display: flex;
    align-items: center;
    margin-right: -50px;
    .amountadd {
      color: white;
      cursor: pointer;
      font-size: 25px;
    }
    .subtract {
      cursor: pointer;
      font-size: 25px;
    }
    .subtractopt {
      opacity: 0.2;
    }
    .amount {
      font-size: 16px;
      border: none;
      width: 50px;
      text-align: center;
      outline: none;
    }
  }
}

//購物車總額
.totalbox {
  padding: 12px;
  .button {
    color: white;
    width: 100px;
    height: 50px;
    background: #688e67;
    border: none;
  }
  .total {
    font-size: 20px;
    span {
      font-size: 24px;
      font-weight: bold;
    }
  }
}

//捲動事件固定
.checkfix {
  width: 100%;
  left: 0;
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 2px black;
  padding: 12px 190px;
}

//購物車為空
.empty {
  margin: 100px;
  .emptyImg {
    width: 200px;
    height: 150px;
  }
  .emptylink {
    width: 220px;
    padding: 10px;
    background-color: #6e845c;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    // font-size: 20px;
    &:hover {
      background-color: #879e74;
    }
    &:active {
      background-color: #586b49;
    }
  }
}
