.wishlistbox {
  .card {
    margin: 10px 0px;
    width: 31%;
    .card-header {
      padding: 0px;
      height: 200px;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .card-body {
      padding: 12px;
    }
    .card-footer {
      padding: 12px;
      text-align: center;
      span {
        cursor: pointer;
        margin: 5px;
        font-size: 14px;
      }
    }
  }
}
